.btn_form{
	margin-left:4px;
	margin-top: 5px;
	width: 30%;
}

#img_foto{

	height: 175px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #337ab7;
}

.teste{
	background-color: #ddd;
	height: 30px;
}
